@charset "utf-8";
*{list-style:none}

/* 새글 스킨 (latest) */


@charset "utf-8";

*{list-style: none;}
a{text-decoration: none;}

.mylatest {
    width: 1200px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
}

.mylatest .title {
    width: 250px;
    height: 200px;
    flex: 0 0 auto;
}

.mylatest .title h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.mylatest .title .mIcon {
    display: block;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
    background-image: url(./img/more_btn.png);
    background-position: 0 -23px;
}

.mylatest .title .mIcon:hover {
    background-position: 0 0;
}

.mylatest .content {
    /* display: flex; */
    gap: 50px;
    flex: 1 1 auto
}

.mylatest .content a {
    display: block;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.mylatest .content h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: initial;
}

.mylatest .content p {
    align-self: flex-end;
}

.mylatest .content li {
    position: relative;
}

.mylatest .content:after {
    content: "";
    display: block;
    width: 100%;
    height:2px;
    background: #ddd;
    position: absolute;
    top: 34%;
    right: -25px;
    transform: translateY(-50%);
}

.mylatest .content li:last-child:after {
    display: none;
}